<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <script src="../cart.js" defer></script>
    <link href="/css/default-ui.css" rel="stylesheet">
    <title>Корзина товаров</title>
</head>
<body>

<div sec:authorize="isAuthenticated()">
    <a href="/orders" style="float:right;"><b>ЗАКАЗЫ &cudarrr;</b></a>
    <a href="/products" style="float:right;"><b>ГЛАВНАЯ &cudarrr;</b></a>
    <a href="javascript: document.logoutForm.submit()"  style="float:right;"> <b>Выйти&cudarrr;</b> </a>
    <form name="logoutForm" th:action="@{/logout}"  method="post" th:hidden="true">
        <input type="hidden" th:name="_csrf" th:value="${csrfToken}" />
        <input hidden type="submit" value="Logout"/>
    </form>
</div>




<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr th:each="item : ${cart.items}">
        <td>
            <table th:id="'item' + ${item.key}">
                <tr>
                    <td>
                        <img width="300" height="300" th:src="${item.value.product.imageUrl}"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b th:text="${item.value.product.title}"></b>
                    </td>
                    <td>
                        <b th:text="${item.value.product.price} + ' руб.'"></b>
                    </td>
                </tr>
                <tr>
                    <td th:text="${item.value.product.description}"></td>
                </tr>
                <tr>
                    <td>
                        <form th:action="@{'/items/' + ${item.key} + '/remove'}"  th:method="delete">
<!--                            TODO REMOVE-->
                            <input type="hidden" name="productId" th:value="${item.key}"/>
                            <input type="hidden" th:name="_csrf" th:value="${csrfToken}" />
                            <span th:text="${item.value.quantity}"></span>
                            <button type="submit" name="action" value="delete" style="float:right;">&cross;</button>
                        </form>
                        <form class="changeQuant">

                            <input type="hidden" id="product-quantity" name="quantity" th:value="${item.value.quantity ?: 0}"/>
                            <input type="hidden" id="productId" th:value="${item.value.product.id}"/>
                            <input type="hidden" id="csrf" th:name="_csrf" th:value="${csrfToken}" />
                            <div>
                                <span>Количество доступных:</span>
                                <span id="quantity-available" th:text="${item.value.product.quantityAvailable}"></span>
                            </div>
                            <div>
                                <span>Количество выбранных:</span>
                                <span id="quantity-planned" th:text="${item.value.quantity ?: 0}"></span>
                            </div>
                            <button id="minus">-</button>
                            <button id="plus">+</button>
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <div>
                <span>Баланс:</span>
                <span id="account-balance" th:text="${cart.accountDTO.amount}"></span>
                <span>Итого:</span>
                <span id="cart-total" th:text="${totalPrice} + ' руб.'"></span>
                <span id="message"
                      th:style="${cart.accountDTO.amount > totalPrice ? 'display:none;' : 'display:block;color:red;'}">
                Недостаточно средств для покупки. Пополните счёт.
                </span>
            </div>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <form action="/orders" id="buy" th:style="${cart.accountDTO.amount <= totalPrice ? 'display:none;' : 'display:block;'}" method="post">
                <input type="hidden" th:name="_csrf" th:value="${csrfToken}" />
                <label for="comment">Комментарий: </label>
                <input id="comment" type="text" name="comment" />
                <button>Купить</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>