<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <script src="../scripts.js" defer></script>
    <title>Витрина товаров</title>
    <meta charset="UTF-8"/>
    <link href="/css/default-ui.css" rel="stylesheet">
</head>

<body>
<div th:if="${role.contains('ADMIN')}">
    <a href="/admin" style="float:right;"><b>Настройка каталога &cudarrr;</b></a>
</div>
<a href="/products" style="float:right;">
    <b>ГЛАВНАЯ &cudarrr;</b>
</a>
<div th:if="${role.contains('USER')}">
    <a href="/orders" style="float:right;">
        <b>ЗАКАЗЫ &cudarrr;</b>
    </a>
    <a href="/items" style="float:right;">
        <b>КОРЗИНА &cudarrr;</b>
    </a>
</div>

<div sec:authorize="isAuthenticated()">
    <a href="javascript: document.logoutForm.submit()"  style="float:right;"> <b>Выйти&cudarrr;</b> </a>
    <form name="logoutForm" th:action="@{/logout}"  method="post" th:hidden="true">
        <input type="hidden" th:name="_csrf" th:value="${csrfToken}" />
        <input hidden type="submit" value="Logout"/>
    </form>
</div>


    <div style="width:70%;margin-left:auto;margin-right:auto;">
        <p>
            <img width="300" height="300" th:src="${product.imageUrl}"/>
        </p>
        <p>
            <b th:text="${product.getTitle()}"></b>
            <b th:text="${product.getPrice()}+' руб.'" style="text-align:right;"></b>
        </p>
        <p>
            <span th:text="${product.getDescription()}"></span>
        </p>

        <div id="perf-action" th:if="${role.contains('USER')}">
            <form th:action="@{'/items/' + ${product.id} + '/add'}"  method="post">
                <input type="hidden" id="product-quantity" name="quantity" th:value="${product.quantity ?: 0}"/>
                <input type="hidden" name="id" th:value="${product.id}"/>
                <input type="hidden" th:name="_csrf" th:value="${csrfToken}" />
                <div>
                    <span>Количество доступных:</span>
                    <span id="quantity-available" th:text="${product.quantityAvailable}"></span>
                </div>
                <div>
                    <span>Количество выбранных:</span>
                    <span id="quantity-planned" th:text="${product.quantity ?: 0}"></span>
                </div>
                <button id="minus">-</button>
                <button id="plus">+</button>
                <button name="action" value="add" style="float:right;">В корзину</button>
            </form>
        </div>

    </div>
</body>

</html>