<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Витрина товаров</title>
    <script src="scripts.js"></script>
    <meta charset="UTF-8"/>
    <link href="/css/default-ui.css" rel="stylesheet">
</head>

<body>
<div th:if="${role.contains('ADMIN')}">
    <a href="/admin" style="float:right;"><b>Настройка каталога &cudarrr;</b></a>
</div>


<div th:if="${role.contains('USER')}">
    <a href="/orders" style="float:right;"><b>ЗАКАЗЫ &cudarrr;</b></a>
    <a href="/items" style="float:right;"><b>КОРЗИНА &cudarrr;</b></a>
    <a href="javascript: document.logoutForm.submit()"  style="float:right;"> <b>Выйти&cudarrr;</b> </a>
    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
        <input type="hidden" th:name="_csrf" th:value="${csrfToken}" />
        <input hidden type="submit" value="Logout"/>
    </form>
</div>
<div th:if="${role == ''}">
    <a href="/login" style="float:right;">
        <b>ВОЙТИ &cudarrr;</b>
    </a>
</div>



<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr>
        <td>
            <form method="get" >
                <p>
                    <label for="search">Найти: </label>
                    <input id="search" style="width:300px;" name="search" th:value="${search}">
                    <button name="action">&#128269;</button>
                </p>
                <p>
                    <label for="sort">Сортировка: </label>
                    <select id="sort" name="sort" onchange="this.form.submit()">
                        <option value="id" th:selected="${sort=='id'}">нет</option>
                        <option value="title" th:selected="${sort=='title'}">по алфавиту</option>
                        <option value="price" th:selected="${sort=='price'}">по цене</option>
                    </select>
                    <input type="hidden" name="direction" value="ASC">
                </p>
                <p>
                    <label for="size">Число товаров: </label>
                    <select id="size" name="size" onchange="this.form.submit()">
                        <option value="5" th:selected="${productPage.size == 5}">5</option>
                        <option value="10" th:selected="${productPage.size == 10}">10</option>
                        <option value="20" th:selected="${productPage.size == 20}">20</option>
                        <option value="50" th:selected="${productPage.size == 50}">50</option>
                        <option value="100" th:selected="${productPage.size == 100}">100</option>
                    </select>
                </p>

                <p>
                    <button th:if="${productPage.hasPrevious()}" name="page" th:value="${productPage.number - 1}">&lt;</button>
                    <span th:text="${'Страница: ' + (productPage.number + 1) + ' из ' + productPage.totalPages}"></span>
                    <button th:if="${productPage.hasNext()}" name="page" th:value="${productPage.number + 1}">&gt;</button>
                </p>

                <input type="hidden" th:name="_csrf" th:value="${csrfToken}" />
                <input type="hidden" name="pageNumber" th:value="${productPage.number}">
            </form>
        </td>
    </tr>
    <tr th:each="product : ${products}">
        <td>
            <table>
                <tr>
                    <td>
                        <a th:href="@{'/products/' + ${product.id}}">
                            <img width="300" height="300" th:src="${product.imageUrl}"/>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><b th:text="${product.title}"></b></td>
                    <td><b th:text="${product.price} + ' руб.'"></b></td>
                </tr>
                <tr>
                    <td th:text="${product.description}"></td>
                </tr>
                <tr>
                    <td>
                        <form th:action="@{'/items/' + ${product.id} + '/add'}"  method="post">
                            <input type="hidden" id="product-quantity" name="quantity" th:value="${product.quantity ?: 0}"/>
                            <div>
                                <span>Количество доступных:</span>
                                <span id="quantity-available" th:text="${product.quantityAvailable}"></span>
                            </div>
                            <div>
                                <span>Количество выбранных:</span>
                                <span id="quantity-planned" th:text="${product.quantity ?: 0}"></span>
                            </div>
                            <input type="hidden" th:name="_csrf" th:value="${csrfToken}" />
                            <button id="minus">-</button>
                            <button id="plus">+</button>
                            <button name="action" style="float:right;">В корзину</button>
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
