<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Заказ</title>
    <meta charset="UTF-8"/>
    <link href="/css/default-ui.css" rel="stylesheet">
</head>

<body>

<div sec:authorize="isAuthenticated()">
    <a href="/orders" style="float:right;">
        <b>ЗАКАЗЫ &cudarrr;</b>
    </a>
    <a href="/items" style="float:right;">
        <b>КОРЗИНА &cudarrr;</b>
    </a>
    <a href="/products" style="float:right;">
        <b>ГЛАВНАЯ &cudarrr;</b>
    </a>
    <a href="javascript: document.logoutForm.submit()"  style="float:right;"> <b>Выйти&cudarrr;</b> </a>
    <form name="logoutForm" th:action="@{/logout}" method="post"  th:hidden="true">
        <input type="hidden" th:name="_csrf" th:value="${csrfToken}" />
        <input hidden type="submit" value="Logout"/>
    </form>
</div>


<h1 style="text-align:center" th:if="${newOrder}">Поздравляем! Успешная покупка! &#128578;</h1>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr>
        <td>
            <h2 th:text="${'Заказ №'+order.getId()}"></h2>
        </td>
    </tr>
    <tr th:each="item : ${order.getItems()}">
        <td>
            <table id="order-details">
                <tr>
                    <td>
                        <a th:href="${'/products/'+item.getProduct().getId()}">
                            <img width="300" height="300" th:src="${item.product.imageUrl}"/>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b th:text="${item.getProduct().getTitle()}"></b>
                    </td>
                    <td>
                        <b th:text="${item.getProduct().getDescription()}"></b>
                    </td>
                    <td>
                        <b th:text="${item.getQuantity()}+' шт.'"></b>
                    </td>
                    <td>
                        <b th:text="${item.getProduct().getPrice()*item.getQuantity()}+' руб.'"></b>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <h3 th:text="${'Сумма: '+order.total}+' руб.'"></h3>
        </td>
    </tr>
</table>
</body>

</html>