<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error</title>
    <meta charset="UTF-8"/>
</head>
<body>
<h1>Запрашиваемая страница не найдена(</h1>
<p>Timestamp: <span th:text="${errorDetails.dateTime}"></span></p>
<p>Message: <span th:text="${errorDetails.message}"></span></p>
<p>Details: <span th:text="${errorDetails.description}"></span></p>
<div id="err_img">
    <img width="300" height="300" th:src="@{/404.gif}"/>
</div>
<a th:href="@{/products}" >Назад</a>
</body>
</html>