<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Заказы</title>
</head>

<body>
<a href="/items" style="float:right;">
    <b>КОРЗИНА &cudarrr;</b>
</a>
<a href="/products" style="float:right;">
    <b>ГЛАВНАЯ &cudarrr;</b>
</a>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr th:each="order : ${orders}">
        <td>
            <h2>
                <a th:text="${'Заказ №' + order.id}" th:href="${'/orders/' + order.id}"></a>
            </h2>
            <table>
                <tr th:each="item : ${order.getItems()}">
                    <td th:text="${item.title + ' (' + item.quantity + ' шт.) ' + (item.price * item.quantity) + ' руб.'}"></td>
                </tr>
            </table>
            <p>
                <b th:text="${'Сумма: ' + order.totalSum + ' руб.'}"></b>
            </p>
            <p>
                <b th:text="${'Комментарий: ' + order.comment}"></b>
            </p>
            <p>
                <b th:text="${'Дата создания: ' + order.createdAt}"></b>
            </p>
            <p>
                <b th:text="${'Дата обновления: ' + order.updatedAt}"></b>
            </p>
        </td>
    </tr>
</table>
</body>

</html>